/* Card Container */
.custom-card {
  background: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Rotated Badge */
.badge-rotate {
  top: 15px;
  left: -40px;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  position: absolute;
  /* Add animation */
  animation: badge-pulse 1.5s infinite;
}

/* Custom pulse keeping rotation */
@keyframes badge-pulse {
  0%,
  100% {
    transform: rotate(-45deg) scale(1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
  }
}

/* Image Box */
.image-box {
  background: #eee;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* Info Section */
.info-box {
  background: #1f2937;
  color: white;
  padding: 15px;
  flex: 1;
}

.title {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.desc {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 0;
}

/* Footer */
.card-footer-custom {
  background: #1f2937;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.price {
  font-weight: bold;
  color: #29ce00;
  font-size: 14px;
}

.cart-btn {
  background: none;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn i {
  color: #ffffff;
  font-size: 14px;
}

.cart-btn :hover {
  color: #006aff;
}
.favorite-btn {
  position: absolute; /* overlay on image */
  top: 10px; /* distance from top */
  right: 10px; /* distance from right */
  background: rgba(255, 0, 0, 0.8);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /* red heart */
  transition: transform 0.3s, background 0.3s;
}

.favorite-btn:hover {
  transform: scale(1.2);
  background: rgb(255, 0, 0);
}

.favorite-btn i {
  font-size: 16px;
}
